.title {
  text-align: center;
}

.pokemon-list {
  list-style: none;
}

.pokemon-name {
  margin: 10px 20px;
  padding: 16px 32px;
  background-color: lightblue;
  border: 1px solid black;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  
}
