html,
body {
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
}

.pokemon-name {
  padding: 16px 32px;
  width: 100%;
  display: inline-block;
  background-color: lightblue;
  border: 1px solid black;
  font-size: 1.1em;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  text-transform: uppercase;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* to show it above other content */
  z-index: 999;

  /* to allow scrolling if the screen is not high enough*/
  overflow: auto;

  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 500px;
  text-align: left;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h1 {
  margin-top: 10px;
  margin-left: 50px;
  text-align: center;
  text-transform: uppercase;
}

.modal p {
  margin-bottom: 10px;
  text-align: center;
}

.modal img {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  background: rgba(128, 128, 128, 0.5);
  border-radius: 50%;
}
